<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>       
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IMyServiceContract" />
        </netTcpBinding>
      </bindings>
      <client>        
        <endpoint address="net.tcp://localhost:8001/MyWcfService/MyService/"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyServiceContract"
          contract="MyServiceReference.IMyServiceContract" name="NetTcpBinding_IMyServiceContract">
          <identity>
            <userPrincipalName value="111-ПК\111" />
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>